<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/_head", {title: "Home page"}) %>
</head>
<body>
    <%- include('partials/_header.ejs') %>
    <main>
                <!-- Landing page decoration here -->
        <div id="gradient" class="fixed -z-10 top-0 left-0 right-0 bottom-0 bg-gradient-to-b from-lime-300 via-transparent to-transparent opacity-30"></div>
                <!-- Landing page decoration here -->
                <!-- Hero section here -->
        <%- include('partials/_hero_section.ejs') %>
                <!-- Hero section here -->
            <!-- Top seller items section here -->
        <%- include('partials/_top_seller_items.ejs') %>
            <!-- Top seller items section here -->
            <!-- Categories section here -->
        <%- include('partials/_product_category.ejs') %>
            <!-- Categories section here -->        
    </main>
    <%- include("partials/_footer.ejs"); %>
    <Script>
        $('#navigation-bar').css('border-bottom-style', 'none')
    </Script>
</body>
</html>
