<!-- RMIT University Vietnam -->
<!-- Course: COSC2430 Web Programming -->
<!-- Semester: 2023A -->
<!-- Assessment: Assignment 2 -->
<!-- Author: Hoang Thai Phuc, Nguyen Hoang Minh, Tran Nguyen Anh Minh, Tran Luu Quang Tung, Dao Bao Duy -->
<!-- ID: s3978081, s3977773, s3979367, s3978481, s3978826 -->
<!-- Acknowledgement: W3School, TailwindCss, ChatGPT, Passport documentation, RemixIcons, Freepik, Web Dev Simplified -->

<div id="navigation-bar" class="w-full border-solid-1 border-b-green-300">
    <nav class="w-full flex justify-between px-4 md:px-12 py-4">
        <!-- Logo -->
        <div class="flex gap-2 cursor-pointer"
            onclick="location.href='/'"
        >
            <img class="w-10" src="/images/logo.png" alt="Buy Fit logo">
            <div class="logo center-y float-left tracking-wider uppercase font-bold">Buy Fit</div>
        </div>

        <!-- Navigation list -->
        <ul id="hamburger-menu" class="whitespace-nowrap offcanvas-r bg-white [&_li]:w-full [&_li]:text-center [&_a]:py-4 [&_a]:px-12 [&_a]:block [&_a]:w-h-full [&_a:hover]:bg-violet-200 md:bg-transparent md:gap-8 md:static md:flex-row md:[&_a]:p-0 md:[&_a:hover]:bg-transparent md:[&_a:hover]:text-violet-400 sidemenu-transition-300">
            <li><a href="/about-us">About Us</a></li>
            <!-- Display link to user's pages on different user type -->
            <% if (user) { %>
                <% if (userType == "Customer") { %>
                    <!-- Customer page -->
                    <li><a href="/users/customer">Shop</a></li>
                <% } else if (userType == "Vendor") { %>
                    <!-- Vendor page -->
                    <li><a href="/users/vendor">Products</a></li>
                <% } else if (userType == "Shipper") { %>
                    <!-- Vendor page -->
                    <li><a href="/users/Shipper">Orders</a></li>
                <% } %>
            <% } else { %>
                <li><a href="/users/customer">Shop</a></li>
            <% } %>
            <li><a href="/contact-us">Contact Us</a></li>
            <!-- Code that separates My Account and Login -->
            <% if (user) { %>
                <% if (userType == "Customer") { %>
                    <!-- Customer My Account Link -->
                    <li id="user" data-user-type="<%= userType %>" class="-order-1 relative md:order-1 p-4 md:p-0 flex flex-row justify-center"><img class="w-10 md:w-8 object-cover aspect-square cursor-pointer rounded-full" src="<%= user.userPicture %>" alt="Account"></li>
                <% } else if (userType == "Vendor") { %>
                    <!-- Vendor My Account Link -->
                    <li id="user" data-user-type="<%= userType %>" class="-order-1 relative md:order-1 p-4 md:p-0 flex flex-row justify-center"><img class="w-10 md:w-8 object-cover aspect-square cursor-pointer rounded-full" src="<%= user.userPicture %>" alt="Account"></li>
                <% } else if (userType == "Shipper") { %>
                    <!-- Vendor My Account Link -->
                    <li id="user" data-user-type="<%= userType %>" class="-order-1 relative md:order-1 p-4 md:p-0 flex flex-row justify-center"><img class="w-10 md:w-8 object-cover aspect-square cursor-pointer rounded-full" src="<%= user.userPicture %>" alt="Account"></li>
                <% } %>
            <% } else { %>
                <!-- Login Link -->
                <li class="-order-1 md:order-1 p-4 md:p-0 flex flex-row justify-center"><img class="w-10 md:w-8 cursor-pointer" onclick="window.location.href='/auth/login'" src="/svg/login-box-line.svg" alt="Login"></li>
            <% } %>
            <!-- Code that separates My Account and Login -->
        </ul>

        <!-- Hamburger menu -->
        <div class="center-y md:hidden">
			<button id="navbar-burger" class="center-y text-violet-600 p-1">
				<svg class="block h-5 w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<title>Mobile menu</title>
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
				</svg>
			</button>
		</div>
    </nav>
</div>